# **ADA 442 - FİNAL PROJECT**


**Student Name & ID**
*   Ceren Özdoğan 13606132136
*   Murat Kaan Gökyıldız
*   Alp Es
*   Orkun Erdoğan

# **Import Modules & Dependencies**

In [ ]:
# Importing dependencies
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder,MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [ ]:
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, mean_squared_error, make_scorer, roc_auc_score
from sklearn.feature_selection import SelectFromModel

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_validate
from sklearn.model_selection import GridSearchCV

**Loading Dataset**

In [ ]:
column_order = ["age", "job", "marital", "education", "default", "housing", "loan",
                "contact", "month", "day_of_week", "duration", "campaign", "pdays",
                "previous", "poutcome", "emp.var.rate", "cons.price.idx",
                "cons.conf.idx", "euribor3m", "nr.employed", "y"]

In [ ]:
data= pd.read_csv("bank-additional.csv", delimiter=";")

In [ ]:
data.shape

(4119, 21)

In [ ]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [ ]:
data.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000
mean,40.113620,256.788055,2.537266,960.422190,0.190337,0.084972,93.579704,-40.499102,3.621356,5166.481695
std,10.313362,254.703736,2.568159,191.922786,0.541788,1.563114,0.579349,4.594578,1.733591,73.667904
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.635000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000
50%,38.000000,181.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,317.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,88.000000,3643.000000,35.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

In [ ]:
data.apply(lambda x: len(x.unique())) # to calculate the number of unique values in each column of a DataFrame

age                67
job                12
marital             4
education           8
default             3
housing             3
loan                3
contact             2
month              10
day_of_week         5
duration          828
campaign           25
pdays              21
previous            7
poutcome            3
emp.var.rate       10
cons.price.idx     26
cons.conf.idx      26
euribor3m         234
nr.employed        11
y                   2
dtype: int64

# 1) Data Cleaning

In [ ]:
data.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

The dataset is free from missing entries, thus making it unnecessary to implement any procedures for managing missing data.

In [ ]:
duplicated_data = data.duplicated()
print(data[duplicated_data])

duplicatedRows= sum(duplicated_data)
print("Number of Duplicated Rows", duplicatedRows)

Empty DataFrame
Columns: [age, job, marital, education, default, housing, loan, contact, month, day_of_week, duration, campaign, pdays, previous, poutcome, emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed, y]
Index: []

[0 rows x 21 columns]
Number of Duplicated Rows 0


This dataset contains no duplicate entries, so there is no need to address duplication.

# 2) Data Preprocessing

1\. **Encoding Categorical Variables**

Categorical data must be converted into numerical formats to be processed by machine learning algorithms. There are two common methods for encoding:

*   **One-Hot Encoding:** This method converts each category value into a new binary column, which is suitable for nominal data without an intrinsic ordering.
*   **Ordinal Encoding:** This method converts categories into integer codes based on their order, which is appropriate for ordinal data where the order matters.

In [ ]:
# Define mappings for each category
marital_mapping = {"married": 1, "single": 2, "divorced": 3}
default_mapping = {"no": 1, "yes": 2}
housing_mapping = {"no": 1, "yes": 2}
loan_mapping = {"no": 1, "yes": 2}
contact_mapping = {"cellular": 1, "telephone": 2}
month_mapping = {"may": 1, "jun": 2, "nov": 3, "sep": 4, "jul": 5, "aug": 6, "mar": 7, "oct": 8, "apr": 9, "dec": 10}
education_mapping = {"basic.9y": 1, "high.school": 2, "university.degree": 3, "professional.course": 4, "basic.6y": 5, "basic.4y": 6, "illiterate": 7}
y_mapping = {"no": 1, "yes": 2}
day_of_week_mapping = {"fri": 5, "wed": 3, "mon": 1, "thu": 4, "tue": 2}
poutcome_mapping = {"nonexistent": 1, "failure": 2, "success": 3}
job_mapping = {"blue-collar": 0, "services": 1, "admin.": 2, "entrepreneur": 3, "self-employed": 4, "technician": 5, "management": 6, "student": 7, "retired": 8, "housemaid": 9, "unemployed": 10}

# Apply mappings using the map function
data["marital"] = data["marital"].map(marital_mapping)
data["default"] = data["default"].map(default_mapping)
data["housing"] = data["housing"].map(housing_mapping)
data["loan"] = data["loan"].map(loan_mapping)
data["contact"] = data["contact"].map(contact_mapping)
data["month"] = data["month"].map(month_mapping)
data["education"] = data["education"].map(education_mapping)
data["y"] = data["y"].map(y_mapping)
data["day_of_week"] = data["day_of_week"].map(day_of_week_mapping)
data["poutcome"] = data["poutcome"].map(poutcome_mapping)
data["job"] = data["job"].map(job_mapping)

# Check the transformed data
print(data.head())

   age  job  marital  education  default  housing  loan  contact  month  \
0   30  0.0      1.0        1.0      1.0      2.0   1.0        1      1
1   39  1.0      2.0        2.0      1.0      1.0   1.0        2      1
2   25  1.0      1.0        2.0      1.0      2.0   1.0        2      2
3   38  1.0      1.0        1.0      1.0      NaN   NaN        2      2
4   47  2.0      1.0        3.0      1.0      2.0   1.0        1      3

   day_of_week  ...  campaign  pdays  previous  poutcome  emp.var.rate  \
0            5  ...         2    999         0         1          -1.8
1            5  ...         4    999         0         1           1.1
2            3  ...         1    999         0         1           1.4
3            5  ...         3    999         0         1           1.4
4            1  ...         1    999         0         1          -0.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed  y
0          92.893          -46.2      1.313       5099.1  1
1          93.994          -36.4      4.855       5191.0  1
2          94.465          -41.8      4.962       5228.1  1
3          94.465          -41.8      4.959       5228.1  1
4          93.200          -42.0      4.191       5195.8  1

[5 rows x 21 columns]

In [ ]:

# Initialize scalers
standard_scaler = StandardScaler()
minmax_scaler = MinMaxScaler()

# Define numerical columns as per your previous message
numerical_columns = ['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']

# Apply Standard Scaling
data[numerical_columns] = standard_scaler.fit_transform(data[numerical_columns])

# Optionally, you can also apply Min-Max Scaling (uncomment the following line)
data[numerical_columns] = minmax_scaler.fit_transform(data[numerical_columns])

# Check the scaled data
print(data.head())

        age  job  marital  education  default  housing  loan  contact  month  \
0  0.171429  0.0      1.0        1.0      1.0      2.0   1.0        1      1
1  0.300000  1.0      2.0        2.0      1.0      1.0   1.0        2      1
2  0.100000  1.0      1.0        2.0      1.0      2.0   1.0        2      2
3  0.285714  1.0      1.0        1.0      1.0      NaN   NaN        2      2
4  0.414286  2.0      1.0        3.0      1.0      2.0   1.0        1      3

   day_of_week  ...  campaign  pdays  previous  poutcome  emp.var.rate  \
0            5  ...  0.029412    1.0       0.0         1      0.333333
1            5  ...  0.088235    1.0       0.0         1      0.937500
2            3  ...  0.000000    1.0       0.0         1      1.000000
3            5  ...  0.058824    1.0       0.0         1      1.000000
4            1  ...  0.000000    1.0       0.0         1      0.687500

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed  y
0        0.269680       0.192469   0.153741     0.512287  1
1        0.698753       0.602510   0.956916     0.859735  1
2        0.882307       0.376569   0.981179     1.000000  1
3        0.882307       0.376569   0.980499     1.000000  1
4        0.389322       0.368201   0.806349     0.877883  1

[5 rows x 21 columns]