# **ADA 442 - FINAL PROJECT**


**Student Name & ID**
*   Ceren Özdoğan 13606132136
*   Murat Kaan Gökyıldız
*   Alp Aydın Es
*   Orkun Erdoğan 50365570922

# **Import Modules & Dependencies**

In [3]:
# Importing dependencies
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder,MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report, recall_score
import pickle
import warnings
warnings.filterwarnings('ignore')

In [4]:
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, mean_squared_error, make_scorer, roc_auc_score
from sklearn.feature_selection import SelectFromModel

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import RocCurveDisplay
from sklearn.datasets import load_wine

In [6]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_validate
from sklearn.model_selection import GridSearchCV

**Loading Dataset**

In [7]:
column_order = ["age", "job", "marital", "education", "default", "housing", "loan",
                "contact", "month", "day_of_week", "duration", "campaign", "pdays",
                "previous", "poutcome", "emp.var.rate", "cons.price.idx",
                "cons.conf.idx", "euribor3m", "nr.employed", "y"]

In [8]:
data= pd.read_csv("bank-additional.csv", delimiter=";")

In [9]:
data.shape

(4119, 21)

In [10]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [11]:
data.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000
mean,40.113620,256.788055,2.537266,960.422190,0.190337,0.084972,93.579704,-40.499102,3.621356,5166.481695
std,10.313362,254.703736,2.568159,191.922786,0.541788,1.563114,0.579349,4.594578,1.733591,73.667904
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.635000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000
50%,38.000000,181.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,317.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,88.000000,3643.000000,35.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

In [13]:
data.apply(lambda x: len(x.unique())) # to calculate the number of unique values in each column of a DataFrame

age                67
job                12
marital             4
education           8
default             3
housing             3
loan                3
contact             2
month              10
day_of_week         5
duration          828
campaign           25
pdays              21
previous            7
poutcome            3
emp.var.rate       10
cons.price.idx     26
cons.conf.idx      26
euribor3m         234
nr.employed        11
y                   2
dtype: int64

# 1) Data Cleaning

In [14]:
data.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

The dataset is free from missing entries, thus making it unnecessary to implement any procedures for managing missing data.

In [15]:
duplicated_data = data.duplicated()
print(data[duplicated_data])

duplicatedRows= sum(duplicated_data)
print("Number of Duplicated Rows", duplicatedRows)

Empty DataFrame
Columns: [age, job, marital, education, default, housing, loan, contact, month, day_of_week, duration, campaign, pdays, previous, poutcome, emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed, y]
Index: []

[0 rows x 21 columns]
Number of Duplicated Rows 0


This dataset contains no duplicate entries, so there is no need to address duplication.

# 2) Data Preprocessing

1\. **Encoding Categorical Variables**

Categorical data must be converted into numerical formats to be processed by machine learning algorithms. There are two common methods for encoding:

*   **One-Hot Encoding:** This method converts each category value into a new binary column, which is suitable for nominal data without an intrinsic ordering.
*   **Ordinal Encoding:** This method converts categories into integer codes based on their order, which is appropriate for ordinal data where the order matters.

In [16]:
month_categories = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]
day_categories = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]

categorical_columns = ["job", "marital", "default", "housing", "loan", "contact", "education"]
numerical_columns = ['age', "duration", 'campaign', 'pdays', 'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']

# Define the preprocessing steps
preprocess = ColumnTransformer([
    ("month_encoded", OrdinalEncoder(categories=[month_categories]), ['month']),
    ("day_encoded", OrdinalEncoder(categories=[day_categories]), ['day_of_week']),
    ('one_hot_encoder', OneHotEncoder(handle_unknown='ignore'), categorical_columns),
    ("numeric_scaler", StandardScaler(), numerical_columns) 
])

In [17]:
from sklearn.utils import resample
from imblearn.under_sampling import RandomUnderSampler

data_majority = data[data.y == 'no']  # or 0 if your target is binary encoded
data_minority = data[data.y == 'yes']  # or 1 if your target is binary encoded

# First, oversample the minority class to a less extent
data_minority_oversampled = resample(data_minority, 
                                   replace=True,
                                   n_samples=int(len(data_majority) * 0.5),  # Oversample to 50% of the majority class
                                   random_state=123)

data_majority_undersampled = resample(data_majority, 
                                   replace=True,
                                   n_samples=int(len(data_majority) * 0.5),  # Undersample to 50% of the majority class
                                   random_state=123)
data_oversampled = pd.concat([data_majority_undersampled, data_minority_oversampled])

# 3) Feature Selection
We will set the attribute y as the target variable.
Then, we will seperate some of our dataset to use it for training and some of it for testing.

In [18]:
X = data_oversampled.drop('y', axis=1)  
y = data_oversampled['y']

In [19]:
yes_count = y.value_counts()
yes_count

no     1834
yes    1834
Name: y, dtype: int64

In [20]:
x_train,x_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=15)

# 4) Model Training

In [21]:
def makePipeline(preprocess, model):
    feature_selection = SelectFromModel(model)
    pipeline = make_pipeline(preprocess,feature_selection, model)
    return pipeline

In [22]:
def trainmodel(preprocess, model, x_train, y_train, x_test, y_test):
    
    pipeline = makePipeline(preprocess, model)
    pipeline.fit(x_train, y_train)
    predictions = pipeline.predict (x_test)
    
    return accuracy_score(y_test, predictions), predictions

In [23]:
def findbestmodel(preprocess, models, x_train, y_train, x_test, y_test):
    model_and_recall = {}
    for model in models:
        _, predictions = trainmodel(preprocess, model, x_train, y_train, x_test, y_test)
        recall = recall_score(y_test, predictions, pos_label="yes")
        model_and_recall[model] = recall

    best_model = max(model_and_recall, key=model_and_recall.get)
    best_recall = model_and_recall[best_model]

    print(best_model)
    print(best_recall)

    return best_model

In [24]:
models = [LogisticRegression(), DecisionTreeClassifier(), RandomForestClassifier()]
bestmodel = findbestmodel(preprocess, models, x_train, y_train, x_test, y_test)

RandomForestClassifier()
0.9908256880733946

In [25]:
def findHyperparameters(model):
    cv = StratifiedKFold(n_splits=10, random_state=0, shuffle=True)
    pipeline = Pipeline(steps=[('preprocess', preprocess), ('model', model)])
    
    # Cross-validation to check initial performance
    results_of_crossValidation = cross_validate(pipeline, X, y, cv=cv, return_train_score=True, return_estimator=True)
    average_crossValidation_score = np.mean(results_of_crossValidation['test_score'])
    
    print("CV score: ", average_crossValidation_score)
    
    # Corrected parameter grid
    param_grid = {
       'model__n_estimators': [200, 300, 400],
        'model__max_depth': [4, 6, 8, 10],
        'model__min_samples_split': [5, 10, 15],
    }
    
    # Use GridSearchCV for hyperparameter tuning
    grid_search = GridSearchCV(estimator=pipeline, param_grid=param_grid, cv=cv, scoring='recall')
    grid_search.fit(x_train, y_train)

    best_params = grid_search.best_params_
    best_model = grid_search.best_estimator_

    # Make predictions on the test set
    predictions = best_model.predict(x_test)
    
    # Calculate recall score
    recall_yes = recall_score(y_test, predictions, pos_label="yes")
    
    print("Best Hyperparameters:", best_params)
    print("Recall score:", recall_yes)

    return best_model, recall_yes

In [26]:
tuned_best_model, tuned_precision= findHyperparameters(bestmodel)

CV score:  0.9626554101338574
Best Hyperparameters: {'model__max_depth': 4, 'model__min_samples_split': 5, 'model__n_estimators': 200}
Recall score: 0.9027522935779817

# 5) Evaluation

In [27]:
pipeline = makePipeline(preprocess, bestmodel)
predictions = tuned_best_model.predict(x_test)
report=classification_report(y_test, predictions, target_names=['no', 'yes'])

In [28]:
print(report)

              precision    recall  f1-score   support

          no       0.90      0.86      0.88       556
         yes       0.86      0.90      0.88       545

    accuracy                           0.88      1101
   macro avg       0.88      0.88      0.88      1101
weighted avg       0.88      0.88      0.88      1101

# 6) Saving the best Model for Streamlit App

In [29]:
#pickle.dump(tuned_best_model, open('tuned_best_model.pkl', 'wb'))

In [30]:
import joblib

In [31]:
joblib.dump(bestmodel,'trained_model.pkl')

['trained_model.pkl']